@use "./variables";

footer {
    background: variables.$secondary;
    margin: 0;
    p {
        color: variables.$primary;
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }
}