@use "./variables";



.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.flexNav {
    list-style: none;
}

ul {
    list-style: none;
}
button {
    background-color: variables.$secondary;
    font-family: variables.$headingFont;
    font-size: 24px;
    font-weight: normal;
    line-height: 41.6px;
    padding: 0 10px;
    border: none;
    color: variables.$primary;
    text-transform: uppercase;
    margin-top: 50px;
    cursor: pointer;
}

.bgSection {
    width: 100%;
    height: 70vh;
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
}