@use "./variables";

header {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    background-position: center top;
    height: 90vh;
}

.headerContainer {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid red;

    .hOneContainer {
        width: 50%;
        outline: 1px solid red;   
        margin-top: 80px;

        h1 {
            color: variables.$secondary;
            text-transform: uppercase;
        }
    }

    .imgHeaderContainer {
        width: 72%;
        margin: 100px -200px 0;
        outline: 1px solid red;
        img {
            width: 100%;
            outline: 1px solid red;
        }
    }
}