@use "./variables";

header {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    background-position: center top;
    height: 90vh;
    position: relative;

    .imgHeaderContainer {
        width: 50%;  
        min-width: 900px;  
        position: absolute;
        right: 0;
        top: 250px;
        z-index: 1;
        img {
            width: 100%;
        }
    }
}

.headerContainer {
    // outline: 1px solid red;
    display: flex;
    align-items: flex-end;

    .hOneContainer {
        width: 40%;
        position: absolute;
        bottom: 20px;
        outline: 1px solid red;

        h1 {
            color: variables.$secondary;
            text-transform: uppercase;
        }
        span {
            display: block;
        }
    }

    
}

