@use "./variables";

// HOME PAGE *******************************************



// 1200px and under
@media (max-width: 1200px) {

    // HEADER 

.mainHeader {
    

    .headerContainer {

    .hOneContainer {

        h1 {
            font-size: 3.2rem;
        }
    }
    
    }

}

    // ADDITIONAL SECTION
    .additionalInfoSection {
        .additionalFlex {

            .item {

                .itemIcon {

                    .iconify {
                            width: 40px;
                            height: 40px;
                            margin: 25px 10px 0 0;
                     }
                }
            }
        }
        
        h2 {
            font-size: 1.68rem;
        }
    }

    // SERVICES INFORMATION SECTION
    .services {

        .servicesFlex {

            .textContainer {
                margin: 60px 0;

                h3 {
                    font-size: 1.9rem;
                    line-height: 40px
                }
            
            }

        }
        
    }

    // eXTRA VACATION SECTION
    .extraVacation {
        .extraVacationTxt {
        width: 90%;

        h3 {
            font-size: 1.9rem;
        }
        }
    }


      // BLOG PAGE *******************************************

    // HEADER SECTION

    // BLOG SECTION

    .blog {
        .nextDestination {
            margin: -200px -100px 50px;

        .nextDestinationFlex {
        
            .nextDestinationImg {
                width: 95%;

                img {
                    width: 105%;
                }
            }
        }
    }

    } // End .blog

    // CONTACT PAGE ***************************************************************************

    .contact {
        .wrapper {
            width:94%;
        }
    }

    .contactForm {
        left: 75px;
        .wrapper {
            width:90%;
        }
    }

} // Emd Media Query