@use "./variables";

// HOME PAGE *******************************************

// 1080px and under
@media (max-width: 1080px) {
    .wrapper {
        width: 90%;
    }

       // HEADER 

.mainHeader {
    

    .headerContainer {

    .hOneContainer {

        h1 {
            font-size: 2.9rem;
        }
    }
    
    }


}

    // ADDITIONAL SECTION
    .additionalInfoSection {
        .additionalFlex {

            .imgHeaderContainer {
        min-width: 750px;
        right: -250px;
        img {
            width: 100%;
        }
    }

            .item {

                .itemIcon {

                    .iconify {
                            width: 35px;
                            height: 35px;
                            margin: 5px 10px 0 0;
                     }
                }
            }
        }
        
        h2 {
            font-size: 1.5rem;
            line-height: 50px;
        }
        p {
            font-size: 0.9rem;
        }
    }

    // SERVICES INFORMATION SECTION
    .services {

        .servicesFlex {

            .textContainer {
            margin: 60px 0 30px;

            h3 {
                font-size: 1.9rem;
                line-height: 40px
            }

            
        }

        }

        button {
            margin-top: 10px;
        }

        
    }


   // BLOG PAGE *******************************************

    // HEADER SECTION

    // BLOG SECTION

    .blog {

        .ourMission {
            width: 37%;
        } 


        .nextDestination {
            margin: -200px -90px 50px;

            .nextDestinationFlex {
                .nextDestinationImg {
                    width: 93%;
                }

                .blogPost {
                     h2 {
                    font-size: 2.19rem;
                    // line-height: 50px;
                    }
                }
            }
        } // End .nextDestination

    } // End .blog

 // CONTACT PAGE ***************************************************************************

    .contactFlex .contactInfo {
        width: 35%;
        font-size: 0.9rem;
    }

    .contactForm {
        left: 15px;
        .wrapper {
            width:98%;
        }
    }

    
} // End Media Query