// COOLORS
// primary color Twiling Blue :#0D457F
// secondary color Dandelion : #FDD908
//Text Color : #EAFEFC
//Solid White : #FFF

// GOOGLE FONTS
// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 

// font-family: 'IM Fell English', serif;
// font-family: 'Roboto', sans-serif;

// COLORS
$primary: #0D457F;
$secondary: #FDD908;
$tertiary: #EAFEFC;
$solidWhite: #FFF;
$black: #000;

// FONT COLORS
$fontDark: #0D457F;
$fontLight: #EAFEFC;
$fontYellow: #FDD908;

// FONT FAMILIES
// $hOneFont: 'IM Fell English', serif;
$headingFont: 'IM Fell English', serif;
$bodyFont: 'Roboto', sans-serif;

// FONT SIZE
$baseFontSize: 1rem;